<% provide(:title, @user.name) %>


<div class="modal-dialog modal-lg modal-dialog-center">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <h1 class="modal-title">部位選択</h1><br>
      <div class="row"> 
        <div class="col-md-10 col-md-offset-1">
          <table class="table table-hover">
            <tbody>
              <tr>
                <td class="center">
                  <%= link_to "胸", new_user_day_workout_path(user_id: @user, day_id: params[:day_id], body_part: 1), class: "btn btn-lg box10 width_height_100px", remote: true %>
                </td>
              </tr>
              <tr>
                <td class="center">
                  <%= link_to "背中", new_user_day_workout_path(user_id: @user, day_id: params[:day_id], body_part: 2), class: "btn btn-lg box10 width_height_100px", remote: true %>
                </td>
              </tr>
              <tr>
                <td class="center">
                  <%= link_to "脚", new_user_day_workout_path(user_id: @user, day_id: params[:day_id], body_part: 3), class: "btn btn-lg box10 width_height_100px", remote: true %>
                </td>
              </tr>
              <tr>
                <td class="center">
                  <%= link_to "肩", new_user_day_workout_path(user_id: @user, day_id: params[:day_id], body_part: 4), class: "btn btn-lg box10 width_height_100px", remote: true %>
                </td>
              </tr>
              <tr>
                <td class="center">
                  <%= link_to "腕", new_user_day_workout_path(user_id: @user, day_id: params[:day_id], body_part: 5), class: "btn btn-lg box10 width_height_100px", remote: true %>
                </td>
              </tr>
              <tr>
                <td class="center">
                  <%= link_to "腹筋", new_user_day_workout_path(user_id: @user, day_id: params[:day_id], body_part: 6), class: "btn btn-lg box10 width_height_100px", remote: true %>
                </td>
              </tr>
            </tbody>
          </table>
          <h2><%= link_to "戻る", user_days_path(@user), class: "btn btn-lg btn-default btn-form" %></h2>
        </div>    
      </div>
    </div>
  </div>
</div>
<div id="new" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>