<% provide(:title, @user.name) %>

<h1>部位選択</h1>

<div class="row"> 
  <div class="col-md-10 col-md-offset-1">
    <table class="table table-hover">
                
      <tbody>
        <tr>
          <td class="center">
            <%= link_to "胸", workouts_traning_menu_user_path(@user, body_part: '1'), class: "btn btn-lg box10 width_height_100px" %>
          </td>
        </tr>
        <tr>
          <td class="center">
            <%= link_to "背中", workouts_traning_menu_user_path(@user, body_part: '2'), class: "btn btn-lg box10 width_height_100px" %>
          </td>
        </tr>
        <tr>
          <td class="center">
            <%= link_to "脚", workouts_traning_menu_user_path(@user, body_part: '3'), class: "btn btn-lg box10 width_height_100px" %>
          </td>
        </tr>
        <tr>
          <td class="center">
            <%= link_to "肩", workouts_traning_menu_user_path(@user, body_part: '4'), class: "btn btn-lg box10 width_height_100px" %>
          </td>
        </tr>
        <tr>
          <td class="center">
            <%= link_to "腕", workouts_traning_menu_user_path(@user, body_part: '5'), class: "btn btn-lg box10 width_height_100px" %>
          </td>
        </tr>
        <tr>
          <td class="center">
            <%= link_to "腹筋", workouts_traning_menu_user_path(@user, body_part: '6'), class: "btn btn-lg box10 width_height_100px"  %>
          </td>
        </tr>
        
      </tbody>
    </table>
    <h2><%= link_to "戻る", user_days_path(@user), class: "btn btn-lg btn-default btn-form" %></h2>
  </div>    
</div>