<% provide(:button_text, '残業を申請する') %>

<div class="modal-dialog modal-lg modal-dialog-center">
  <div class="modal-content">
    <% @attendances.each do |day| %>
    <% if day.worked_on == @day %>
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <h1 class="modal-title">【 残業申請 】</h1><br>
      <%= form_with(model: @attendance, url: update_overwork_request_user_path(@user, day: day.worked_on), local: true, method: :patch) do |f| %>
      <table class="table table-bordered table-overwork">
        <thead>
          <tr>
            <th>日付</th>
            <th>曜日</th>
            <th>終了予定時間</th>
            <th>翌日</th>
            <th>業務処理内容</th>
            <th>指示者確認㊞</th>
          </tr>
        </thead>
        
        <tbody>
            <tr>
              <td><%= l(@day, format: :short) %></td>
              <td><%= $days_of_the_week[@day.wday] %></td>
              <td><%= f.time_field :expected_end_time, class: "form-control" %></td>
              <td><%= f.check_box :next_day %></td>
              <td><%= f.text_field :business_processing_contents, class: "form-control" %></td>
              <td>
                <% if @user.superiorA? %>
                  <% if day.instructor_confirmation_app.blank? %>
                    <%= f.select :instructor_confirmation, 
                      { "上長B": 2, "上長C": 3 },{ include_blank: '' }
                    %>
                  <% elsif day.instructor_confirmation_3.blank? && day.instructor_confirmation_2.blank? && day.instructor_confirmation.present? && day.instructor_confirmation_app.present? %>
                    <%= f.select :instructor_confirmation_2, 
                      { "上長B": 2, "上長C": 3 },{ include_blank: '' }
                    %>
                  <% elsif day.instructor_confirmation_2.present? && day.instructor_confirmation_app_2.present? %>
                    <%= f.select :instructor_confirmation_3, 
                      { "上長B": 2, "上長C": 3 },{ include_blank: '' }
                    %>
                  <% end %>
                <% elsif @user.superiorB? %>
                  <% if day.instructor_confirmation_app.blank? %>
                    <%= f.select :instructor_confirmation, 
                      { "上長A": 1, "上長C": 3 },{ include_blank: '' }
                    %>
                  <% elsif day.instructor_confirmation_3.blank? && day.instructor_confirmation.present? && day.instructor_confirmation_app.present? %>
                    <%= f.select :instructor_confirmation_2, 
                      { "上長A": 1, "上長C": 3 },{ include_blank: '' }
                    %>
                  <% elsif day.instructor_confirmation_2.present? && day.instructor_confirmation_app_2.present? %>
                    <%= f.select :instructor_confirmation_3, 
                      { "上長A": 1, "上長C": 3 },{ include_blank: '' }
                    %>
                  <% end %>
                <% elsif @user.superiorC? %>
                  <% if day.instructor_confirmation_app.blank? %>
                    <%= f.select :instructor_confirmation, 
                      { "上長A": 1, "上長B": 2 },{ include_blank: '' }
                    %>
                  <% elsif day.instructor_confirmation_3.blank? && day.instructor_confirmation.present? && day.instructor_confirmation_app.present? %>
                    <%= f.select :instructor_confirmation_2, 
                      { "上長A": 1, "上長B": 2 },{ include_blank: '' }
                    %>
                  <% elsif day.instructor_confirmation_2.present? && day.instructor_confirmation_app_2.present? %>
                    <%= f.select :instructor_confirmation_3, 
                      { "上長A": 1, "上長B": 2 },{ include_blank: '' }
                    %>
                  <% end %>
                <% else %>
                  <% if day.instructor_confirmation_app.blank? %>
                    <%= f.select :instructor_confirmation, 
                      { "上長A": 1, "上長B": 2, "上長C": 3 },{ include_blank: '' }
                    %>
                  <% elsif day.instructor_confirmation_2.blank? && day.instructor_confirmation.present? %>
                    <%= f.select :instructor_confirmation_2, 
                      { "上長A": 1, "上長B": 2, "上長C": 3 },{ include_blank: '' }
                    %>
                  <% elsif day.instructor_confirmation_2.present? %>
                    <%= f.select :instructor_confirmation_3, 
                      { "上長A": 1, "上長B": 2, "上長C": 3 },{ include_blank: '' }
                    %>
                  <% end %>
                <% end %>
              </td>
            </tr>
        </tbody>
      </table>
    
      <div class="center">
        <%= f.submit yield(:button_text), class: "btn btn-primary" %>
      </div>
      <% end %>
    </div>
    <% end %>
    <% end %>
  </div>
</div>