<% provide(:title, @user.name) %>
<% provide(:button_text, '申請する') %>
<div>
  <table class="table table-bordered user-table">
    <tr>
      <td>
        <h5>
          <%= link_to "←", user_path(date: @first_day.prev_month), class: "btn btn-default btn-primary" %>
          <%= l(@first_day, format: :middle) %>時間管理表
          <%= link_to "→", user_path(date: @first_day.next_month), class: "btn btn-default btn-primary" %>
        </h5>
      </td>
      <td>
        <h5>指定勤務開始時間：<%= format_basic_info(@attendance.designated_work_start_time) %></h5>
        <h5>指定勤務終了時間：<%= format_basic_info(@attendance.designated_work_end_time) %></h5>
      </td>
      <td colspan = "3"><h5>基本時間：<%= format_basic_info(@user.basic_time) %></h5></td>
      <td><h5>初日：<%= l(@first_day, format: :short) %></h5></td>
    </tr>

    <tr>
      <td>所属：<%= @user.department.present? ? @user.department : "未所属" %></td>
      <td>名前：<%= @user.name %></td>
      <td>コード：</td> 
      <td><%= @user.employee_number %></td>
      <td>出勤日数：<%= @worked_sum %>日</td>
      <td>締め：<%= l(@last_day, format: :short) %></td>
    </tr>
  </table>
</div>


<div>
  <% if @user.superiorA? %>
    <div>
      <%= link_to "【所属長承認申請のお知らせ】", notice_approval_application_user_path(date: @first_day), remote: true, class: "btn" %>
      <font class="notice"><%= "#{@approval1 - @approval_1}件の通知があります" %></font>
    </div>
  <% elsif @user.superiorB? %>
    <div>
      <%= link_to "【所属長承認申請のお知らせ】", notice_approval_application_B_user_path(date: @first_day), remote: true, class: "btn" %>
      <font class="notice"><%= "#{@approval2 - @approval_2}件の通知があります" %></font>
    </div>
  <% elsif @user.superiorC? %>
    <div>
      <%= link_to "【所属長承認申請のお知らせ】", notice_approval_application_C_user_path(date: @first_day), remote: true, class: "btn" %>
      <font class="notice"><%= "#{@approval3 - @approval_3}件の通知があります" %></font>
    </div>
  <% end %>
  
  <% if @user.superiorA? %>
    <div>
      <%= link_to "【勤怠変更申請のお知らせ】", attendances_notice_edit_one_month_user_path(user_id: @user, id: @attendance.id), remote: true, class: "btn" %>
      <font class="notice"><%= "#{@one_month1 - @one_month_1}件の通知があります" %></font>
    </div>
  <% elsif @user.superiorB? %>
    <div>
      <%= link_to "【勤怠変更申請のお知らせ】", attendances_notice_edit_one_month_B_user_path(user_id: @user, id: @attendance.id), remote: true, class: "btn" %>
      <font class="notice"><%= "#{@one_month2 - @one_month_2}件の通知があります" %></font>
    </div>
  <% elsif @user.superiorC? %>
    <div>
      <%= link_to "【勤怠変更申請のお知らせ】", attendances_notice_edit_one_month_C_user_path(user_id: @user, id: @attendance.id), remote: true, class: "btn" %>
      <font class="notice"><%= "#{@one_month3 - @one_month_3}件の通知があります" %></font>
    </div>
  <% end %>
  
  <% if @user.superiorA? %>
    <div> 
      <%= link_to "【残業申請のお知らせ】", attendances_notice_overwork_request_user_path(user_id: @user, id: @attendance.id), remote: true, class: "btn" %>
      <font class="notice"><%= "#{@overwork1 - @overwork_1}件の通知があります" %></font>
    </div>
  <% elsif @user.superiorB? %>
    <div> 
      <%= link_to "【残業申請のお知らせ】", attendances_notice_overwork_request_B_user_path(user_id: @user, id: @attendance.id), remote: true, class: "btn" %>
      <font class="notice"><%= "#{@overwork2 - @overwork_2}件の通知があります" %></font>
    </div>
  <% elsif @user.superiorC? %>
    <div>   
      <%= link_to "【残業申請のお知らせ】", attendances_notice_overwork_request_C_user_path(user_id: @user, id: @attendance.id), remote: true, class: "btn" %>
      <font class="notice"><%= "#{@overwork3 - @overwork_3}件の通知があります" %></font>
    </div>
  <% end %>
</div><br>


<div class="btn-users-show">
  <div>
    <%= link_to "勤怠を編集", attendances_edit_one_month_user_path(date: @first_day), class: "btn btn-default btn-primary" %>
    <%= link_to "CSV出力", user_path(format: :csv), class: "btn btn-default btn-primary" %>
  </div>
      <div><%= link_to "勤怠修正ログ（承認済）", attendances_edit_one_month_log_user_path, class: "btn btn-default btn-primary" %></div>
</div>

<div>
  <table class="table table-bordered table-condensed table-hover" id="table-attendances">
    <thead>
      <tr>
        <th rowspan = "3">残業申請</th>
      　<th rowspan = "3">日付</th>
        <th rowspan = "3">曜日</th>
        <th colspan = "8">実績</th>
        <th colspan = "5">所定外勤務</th>
      </tr>
      <tr> <!--rowspan:縦結合、colspan：横結合-->
        <th colspan = "3">出社</th>
        <th colspan = "3">退社</th>
        <th rowspan = "2">在社時間</th>
        <th rowspan = "2">備考</th>
        <th colspan = "2">終了予定時間</th>
        <th rowspan = "2">時間外時間</th>
        <th rowspan = "2">業務処理内容</th>
        <th rowspan = "2">指示者確認印</th>
      </tr>
      <tr>
        <th>時</th>
        <th>分</th>
        <th></th>
        <th>時</th>
        <th>分</th>
        <th></th>
        <th>時</th>
        <th>分</th>
      </tr>
    </thead>

    <tbody>
      <% @attendances.each do |day| %>
      <%= fields_for "attendances[]", day do |attendance| %>
        <tr>
          <td class="center">
            <%= link_to "残業申請", edit_overwork_request_user_path(@user, day: day.worked_on), remote: true, class: "btn btn-primary" %>
          </td>
          <td><%= l(day.worked_on, format: :short) %></td>
          <td>
            <% if day.worked_on.wday == 6 %>
              <font color="blue"><%= $days_of_the_week[day.worked_on.wday] %></font>
            <% elsif day.worked_on.wday == 0 %>
              <font color="red"><%= $days_of_the_week[day.worked_on.wday] %></font>
            <% else %>
              <%= $days_of_the_week[day.worked_on.wday] %>
            <% end %>
          </td>
          <td>
            <%= day.started_at.hour if day.started_at.present? && day.one_month_instructor_confirmation.present? && day.notice_one_month_instructor_confirmation == "1" && day.change_digest == "1" %>
          </td>
          <td><%= day.started_at.floor_to(15.minutes).min if day.started_at.present? && day.notice_one_month_instructor_confirmation == "1" && day.change_digest == "1" %></td>
          <td>
            <% if Date.current == day.worked_on && day.started_at.nil? %>
              <%= link_to "出社", user_attendance_path(@user, day), method: :patch, 
                  class: "btn btn-md btn-default btn-attendance" %>
            <% end %>
          </td>
          <td><%= day.finished_at.hour if day.finished_at.present? && day.notice_one_month_instructor_confirmation == "1" && day.change_digest == "1" %></td>
          <td><%= day.finished_at.floor_to(15.minutes).min if day.finished_at.present? && day.notice_one_month_instructor_confirmation == "1" && day.change_digest == "1" %></td>
          <td>
            <% if Date.current == day.worked_on && day.started_at.present? && day.finished_at.blank? %>
              <%= link_to "退社", user_attendance_path(@user, day), method: :patch, 
                  class: "btn btn-md btn-default btn-attendance" %>
            <% end %>
          </td>
          <td>
            <% if day.started_at.present? && day.finished_at.present? && day.notice_one_month_instructor_confirmation == "1" && day.change_digest == "1" %>
              <%= str_times = working_times(day.started_at, day.finished_at) %>
              <% @total_working_times = @total_working_times.to_f + str_times.to_f %>
            <% end %>
          </td>
          <td>
            <% if day.notice_one_month_instructor_confirmation == "1" && day.change_digest == "1" %>
              <%= day.note %>
            <% end %>
          </td>
          
          <td><%= day.expected_end_time.hour if day.expected_end_time.present? && day.instructor_confirmation_app == "2" %></td>
          <td><%= day.expected_end_time.min if day.expected_end_time.present? && day.instructor_confirmation_app == "2" %></td>
          <td><%= after_hours(day.designated_work_end_time, day.expected_end_time) if day.instructor_confirmation_app == "2" %></td>
          <td><%= day.business_processing_contents if day.instructor_confirmation_app == "2" %></td>
          <td>
            <% if day.notice_one_month_instructor_confirmation == "1" && day.instructor_confirmation.present? %>
              <%= "勤怠承認" %>、<%= "残業申請中" %>
            <% elsif day.one_month_instructor_confirmation.present? && day.instructor_confirmation_app == "1" %>
              <%= "勤怠申請中" %>、<%= "残業承認" %>
            <% elsif day.notice_one_month_instructor_confirmation == "1" && day.instructor_confirmation_app == "1" %>
              <%= "勤怠承認" %>、<%= "残業承認" %>
            <% elsif day.instructor_confirmation.present? && day.one_month_instructor_confirmation.present? %>
              <%= "勤怠申請中" %>、<%= "残業申請中" %>
            <% elsif day.instructor_confirmation_app == "2" %>
              <%= "残業承認" %>
            <% elsif day.instructor_confirmation_app == "3" %>
              <%= "残業否認" %>
            <% elsif day.instructor_confirmation.present? %>
              <%= "残業申請中" %>
            <% elsif day.notice_one_month_instructor_confirmation == "1" %>
              <%= "勤怠承認" %>
            <% elsif day.notice_one_month_instructor_confirmation == "2" %>
              <%= "勤怠否認" %>
            <% elsif day.one_month_instructor_confirmation.present? || day.notice_one_month_instructor_confirmation == "0" %>
              <%= "勤怠申請中" %>
            <% else %>
              <%= "" %>
            <% end %>
          </td>
        </tr>
      <% end %>
      <% end %>
    </tbody>
    
    <tfoot>
      <!--rowspan:縦結合、 colsoan：横結合横結合-->
      <tr>
        <td colspan="2">総合勤務時間</td>
        <td colspan="5"></td>
        <td colspan="2">累計在社時間</td>
        <td rowspan="2"></td>
        <td rowspan="2"></td>
        <td rowspan="2"></td>
        <td rowspan="2"></td>
        <td rowspan="2"></td>
        <td rowspan="2"></td>
        <td rowspan="2">
          <%= form_with(model: @attendance, url: approval_application_user_path(date: @first_day), local: true, method: :post) do |f| %>
            <div class="approval">
              <% if @attendance.approval_confirmation == "1" %>
                <%= "所属長承認認 から承認済み" %>
              <% else %>
                <%= "所属長承認" %>
              <% end %>
            </div>
            <div class="approval">
              <% if @user.superiorA? %>
                <%= f.select :approval_application,
                  [
                  ["", ""],
                  ["上長B", 2],
                  ["上長C", 3]
                  ]
                %>
              <% elsif @user.superiorB? %>
                  <%= f.select :approval_application,
                  [
                  ["", ""],  
                  ["上長A", 1],
                  ["上長C", 3]
                  ]
                %>
              <% elsif @user.superiorC? %>
              <%= f.select :approval_application,
                  [
                  ["", ""],  
                  ["上長A", 1],
                  ["上長B", 2]
                  ]
                %>
              <% else %>
               <%= f.select :approval_application,
                  [ 
                  ["", ""],
                  ["上長A", 1],
                  ["上長B", 2],
                  ["上長C", 3]
                  ]
                %>
              <% end %>
            </div>
            <div class="approval"><%= f.submit yield(:button_text), class: "btn btn-primary btn-block" %></div>
          <% end %>
        </td>
      </tr>
      <tr>
        <td colspan="2"><%= format_basic_info(@user.work_time).to_f * @worked_sum %></td>
        <td colspan="5"></td>
        <td colspan="2"><%= format("%.2f", @total_working_times.to_f) %></td>
      </tr>
    </tfoot>
  </table>
</div>


<div id="edit-overwork-request" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
<div id="notice-overwork-request" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
<div id="notice-overwork-request-B" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
<div id="notice-overwork-request-C" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
<div id="notice-edit-one-month" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
<div id="notice-edit-one-month-B" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
<div id="notice-edit-one-month-C" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
<div id="notice-approval-application" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
<div id="notice-approval-application-B" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
<div id="notice-approval-application-C" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>