<% provide(:title, 'マイページ') %>
<div>
  <table class="table table-bordered user-table box10">
    <tr>
      <td>
        <h1>
          <%= link_to "←", user_days_path(date: @first_day.prev_month), class: "btn btn-default btn-primary" %>
          <%= l(@first_day, format: :middle) %>
          <%= link_to "→", user_days_path(date: @first_day.next_month), class: "btn btn-default btn-primary" %>
        </h1>
      </td>
    </tr>
    <tr>
      <td>
        <%= link_to "トレーニング種目一覧/追加", workouts_bodypart_select_user_path(@user, day_id: ""), class: "btn btn-default btn-primary" %>
      </td>
      
    </tr>
  </table>
  
  <table class="table table-bordered table-condensed table-hover box10" id="table-attendances">
    
    <tbody>
      <tr>
        <th>日付</th>
        <th>トレーニング部位</th>
        <th>一覧表示/追加</th>
      </tr>
      <% @days.each do |day| %>
      <% if Date.current == day.worked_on %>
        <tr class="password_field">
      <% else %>
        <tr>
      <% end %>
          <td>
            <%= l(day.worked_on, format: :short) %>
            <% if day.worked_on.wday == 6 %>
              <font color="blue">(<%= $days_of_the_week[day.worked_on.wday] %>)</font>
            <% elsif day.worked_on.wday == 0 %>
              <font color="red">(<%= $days_of_the_week[day.worked_on.wday] %>)</font>
            <% else %>
              (<%= $days_of_the_week[day.worked_on.wday] %>)
            <% end %>
          </td>
          <td>
            <% @day = @user.days.find_by(id: day.id) %>
            <% @workouts = @day.workouts.all.distinct.pluck(:target_muscle) %>
            <% @workouts.each do |workout| %>
              <p class="btn btn-primary"><%= workout %></p>
            <% end %>
          </td>
          <td>
            <%= link_to "一覧表示/追加", user_day_workouts_path(@user, day_id: day.id), class: "btn btn-primary" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
