<% provide(:title, 'Myカレンダー') %>
<div>
  <table class="table table-bordered user-table box10">
    <tr>
      <td>
        <h1>
          <%= link_to "←", user_days_path(date: @first_day.prev_month), class: "btn btn-default btn-primary" %>
          <%= l(@first_day, format: :middle) %>
          <%= link_to "→", user_days_path(date: @first_day.next_month), class: "btn btn-default btn-primary" %>
        </h1>
      </td>
    </tr>
    <tr>
      <td>
        <%= link_to "トレーニング種目追加", workouts_bodypart_select_user_path(@user, day_id: ""), class: "btn btn-default btn-primary" %>
      </td>
      
    </tr>
  </table>
  
  
  <table class="table table-bordered table-condensed table-hover box10" id="table-attendances">
    <% @days.each do |day| %>
    <tbody class="inline-block">
        <% if Date.current == day.worked_on %>
          <tr class="password_field">
        <% else %>
          <tr>
        <% end %>
            <td class="size">
              <a><%= l(day.worked_on, format: :short) %></a>
              <a>
                <% if day.worked_on.wday == 6 %>
                  <font color="blue">(<%= $days_of_the_week[day.worked_on.wday] %>)</font>
                <% elsif day.worked_on.wday == 0 %>
                  <font color="red">(<%= $days_of_the_week[day.worked_on.wday] %>)</font>
                <% else %>
                  (<%= $days_of_the_week[day.worked_on.wday] %>)
                <% end %>
              </a><br><br>
              <b>
                <% @day = @user.days.find_by(id: day.id) %>
                <% @workouts = @day.workouts.all.distinct.pluck(:target_muscle) %>
                <% @workouts.each do |workout| %>
                  <p class="btn btn-primary"><%= workout %></p>
                <% end %>
              </b><br><br>
              <c>
                <%= link_to "一覧表示", user_day_workouts_path(@user, day_id: day.id), class: "btn btn-primary" %>
              </c>
            </td>
          </tr>
        
    </tbody>
    <% end %>
  </table>
</div>
