<% provide(:button_text, '変更を送信する') %>

<div class="modal-dialog modal-lg modal-dialog-center">
  <div class="modal-content">
    <% @users.each do |user| %>
    <% @atten = Attendance.where(user_id: user.id) %>
    <% @atten.each do |at| %>
    <% if at.approval_application == '2' && at.approval_confirmation.blank?     ||
          at.approval_application_2 == '2' && at.approval_confirmation_2.blank? || 
          at.approval_application_3 == '2' && at.approval_confirmation_3.blank? || 
          at.approval_application_4 == '2' && at.approval_confirmation_4.blank? ||
          at.approval_application_5 == '2' && at.approval_confirmation_5.blank? %>
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h1 class="modal-title">【 <%= user.name %> からの1ヶ月分勤怠申請 】</h1><br>
        <%= form_with(model: user, url: attendances_update_notice_approval_application_user_path, local: true, method: :patch) do |f| %>
        <table class="table table-bordered table-overwork">
          <thead>
            <tr>
              <th>月</th>
              <th>指示者確認㊞</th>
              <th>変更</th>
              <th>勤怠を確認する</th>
            </tr> 
          </thead>
          
          <%= f.fields_for "attendances[]", at do |attendance| %>
          <tbody>
            <tr>
              <td><%= l(at.worked_on, format: :super_short) %></td>
              <td>
                <% if at.approval_confirmation.blank? %>
                  <%= attendance.select :approval_confirmation, 
                    { "申請中": 1, "承認": 2, "否認": 3 },{ include_blank: '' }
                  %>
                <% elsif at.approval_confirmation_2.blank? %>
                  <%= attendance.select :approval_confirmation_2, 
                    { "申請中": 1, "承認": 2, "否認": 3 },{ include_blank: '' }
                  %>
                <% elsif at.approval_confirmation_3.blank? %>
                  <%= attendance.select :approval_confirmation_3, 
                    { "申請中": 1, "承認": 2, "否認": 3 },{ include_blank: '' }
                  %>
                <% elsif at.approval_confirmation_4.blank? %>
                  <%= attendance.select :approval_confirmation_4, 
                    { "申請中": 1, "承認": 2, "否認": 3 },{ include_blank: '' }
                  %>
                <% else %>
                  <%= attendance.select :approval_confirmation_5, 
                    { "申請中": 1, "承認": 2, "否認": 3 },{ include_blank: '' }
                  %>
                <% end %>
              </td>
              <td>
                <% if at.approval_confirmation.blank? %>
                  <%= attendance.check_box :approval_change %>
                <% elsif at.approval_confirmation_2.blank? %>
                  <%= attendance.check_box :approval_change_2 %>
                <% elsif at.approval_confirmation_3.blank? %>
                  <%= attendance.check_box :approval_change_3 %>
                <% elsif at.approval_confirmation_4.blank? %>
                  <%= attendance.check_box :approval_change_4 %>
                <% elsif at.approval_confirmation_5.blank? %>
                  <%= attendance.check_box :approval_change_5 %>
                <% end %>
              </td>
              <td><%= link_to "確認", show_Confirmation_user_path(user), class: "btn btn-primary" %></td>
            </tr>
          </tbody>
        </table>
        <div class="center">
          <%= attendance.submit yield(:button_text), class: "btn btn-primary" %>
        </div>
        <% end %>
        <% end %>
      </div>
      <% end %>
    <% end %>
    <% end %>
  </div>
</div>