<% provide(:class_text, 'notice-edit-one-month') %>
<% provide(:button_text, '勤怠を申請する') %>

<div class="modal-dialog modal-lg modal-dialog-center">
  <div class="modal-content">
    <% @users.each do |user| %>
    <% @atten = Attendance.where(user_id: user.id) %>
    <% @atten.each do |at| %>
      <% if at.one_month_instructor_confirmation == '1' && at.notice_one_month_instructor_confirmation.blank? ||
            at.one_month_instructor_confirmation_2 == '1' && at.notice_one_month_instructor_confirmation_2.blank? ||
            at.one_month_instructor_confirmation_3 == '1' && at.notice_one_month_instructor_confirmation_3.blank? ||
            at.one_month_instructor_confirmation_4 == '1' && at.notice_one_month_instructor_confirmation_4.blank? || 
            at.one_month_instructor_confirmation_5 == '1' && at.notice_one_month_instructor_confirmation_5.blank? %>
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h1 class="modal-title">【 <%= user.name %> からの勤怠変更申請 】</h1><br>
            <%= form_with(model: user, url: attendances_update_notice_one_month_user_path, local: true, method: :patch) do |f| %>
            <table class="table table-bordered table-overwork">
              <thead>
                <tr>
                  <th rowspan = "3">日付</th>
                  <th rowspan = "3">曜日</th>
                  <th colspan = "4">変更前</th>
                  <th colspan = "4">変更後</th>
                  <th rowspan = "2">備考</th>
                  <th rowspan = "2">指示者確認㊞</th>
                  <th rowspan = "2">変更</th>
                  <th rowspan = "2">勤怠を確認する</th>
                </tr>
                <tr>
                  <th colspan = "2">出社</th>
                  <th colspan = "2">退社</th>
                  <th colspan = "2">出社</th>
                  <th colspan = "2">退社</th>
                </tr>
              </thead>
              
              <tbody>
                <% @attendances = Attendance.where(user_id: user.id) %>
                <% @attendances.each do |day| %>
                <% if day.one_month_instructor_confirmation == '1' && day.notice_one_month_instructor_confirmation.blank? ||
                      day.one_month_instructor_confirmation_2 == '1' && day.notice_one_month_instructor_confirmation_2.blank? ||
                      day.one_month_instructor_confirmation_3 == '1' && day.notice_one_month_instructor_confirmation_3.blank? ||
                      day.one_month_instructor_confirmation_4 == '1' && day.notice_one_month_instructor_confirmation_4.blank? || 
                      day.one_month_instructor_confirmation_5 == '1' && day.notice_one_month_instructor_confirmation_5.blank? %>
                <%= f.fields_for "attendances[]", day do |attendance| %>
                  <tr>
                    <td><%= l(day.worked_on, format: :short) %></td>
                    <td><%= $days_of_the_week[day.worked_on.wday] %></td>   
                    <!-- 1回目申請 -->
                    <% if day.notice_one_month_instructor_confirmation.blank? %>
                      <td><%= day.started_at.hour if day.started_at.present? %></td>
                      <td><%= day.started_at.floor_to(15.minutes).min if day.started_at.present? %></td>
                      <td><%= day.finished_at.hour if day.finished_at.present? %></td>
                      <td><%= day.finished_at.floor_to(15.minutes).min if day.finished_at.present? %></td>
                      <td><%= day.started_at_before.hour if day.started_at_before.present? %></td>
                      <td><%= day.started_at_before.floor_to(15.minutes).min if day.started_at_before.present? %></td>
                      <td><%= day.finished_at_before.hour if day.finished_at_before.present? %></td>
                      <td><%= day.finished_at_before.floor_to(15.minutes).min if day.finished_at_before.present? %></td>
                    <!-- 2回目申請 -->
                    <% elsif day.notice_one_month_instructor_confirmation_2.blank? %>
                      <td><%= day.started_at_before.hour if day.started_at_before.present? %></td>
                      <td><%= day.started_at_before.floor_to(15.minutes).min if day.started_at_before.present? %></td>
                      <td><%= day.finished_at_before.hour if day.finished_at_before.present? %></td>
                      <td><%= day.finished_at_before.floor_to(15.minutes).min if day.finished_at_before.present? %></td>
                      <td><%= day.started_at_before_2.hour if day.started_at_before.present? %></td>
                      <td><%= day.started_at_before_2.floor_to(15.minutes).min if day.started_at_before.present? %></td>
                      <td><%= day.finished_at_before_2.hour if day.finished_at_before.present? %></td>
                      <td><%= day.finished_at_before_2.floor_to(15.minutes).min if day.finished_at_before.present? %></td>
                    <!-- 3回目申請 -->
                    <% elsif day.notice_one_month_instructor_confirmation_3.blank? %>
                      <td><%= day.started_at_before_2.hour if day.started_at_before_2.present? %></td>
                      <td><%= day.started_at_before_2.floor_to(15.minutes).min if day.started_at_before_2.present? %></td>
                      <td><%= day.finished_at_before_2.hour if day.finished_at_before_2.present? %></td>
                      <td><%= day.finished_at_before_2.floor_to(15.minutes).min if day.finished_at_before_2.present? %></td>
                      <td><%= day.started_at_before_3.hour if day.started_at_before_3.present? %></td>
                      <td><%= day.started_at_before_3.floor_to(15.minutes).min if day.started_at_before_3.present? %></td>
                      <td><%= day.finished_at_before_3.hour if day.finished_at_before_3.present? %></td>
                      <td><%= day.finished_at_before_3.floor_to(15.minutes).min if day.finished_at_before_3.present? %></td>
                    <!-- 4回目申請 -->
                    <% elsif day.notice_one_month_instructor_confirmation_4.blank? %>
                      <td><%= day.started_at_before_3.hour if day.started_at_before_3.present? %></td>
                      <td><%= day.started_at_before_3.floor_to(15.minutes).min if day.started_at_before_3.present? %></td>
                      <td><%= day.finished_at_before_3.hour if day.finished_at_before_3.present? %></td>
                      <td><%= day.finished_at_before_3.floor_to(15.minutes).min if day.finished_at_before_3.present? %></td>
                      <td><%= day.started_at_before_4.hour if day.started_at_before_4.present? %></td>
                      <td><%= day.started_at_before_4.floor_to(15.minutes).min if day.started_at_before_4.present? %></td>
      111                <td><%= day.finished_at_before_4.hour if day.finished_at_before_4.present? %></td>
                      <td><%= day.finished_at_before_4.floor_to(15.minutes).min if day.finished_at_before_4.present? %></td>
                    <!-- 5回目申請 -->
                    <% else %>
                      <td><%= day.started_at_before_4.hour if day.started_at_before_4.present? %></td>
                      <td><%= day.started_at_before_4.floor_to(15.minutes).min if day.started_at_before_4.present? %></td>
                      <td><%= day.finished_at_before_4.hour if day.finished_at_before_4.present? %></td>
                      <td><%= day.finished_at_before_4.floor_to(15.minutes).min if day.finished_at_before_4.present? %></td>
                      <td><%= day.started_at_before_5.hour if day.started_at_before_5.present? %></td>
                      <td><%= day.started_at_before_5.floor_to(15.minutes).min if day.started_at_before_5.present? %></td>
                      <td><%= day.finished_at_before_5.hour if day.finished_at_before_5.present? %></td>
                      <td><%= day.finished_at_before_5.floor_to(15.minutes).min if day.finished_at_before_5.present? %></td>
                    <% end %>
                    <td><%= day.note %></td>
                    <td>
                      <% if day.notice_one_month_instructor_confirmation.blank? %>
                        <%= attendance.select :notice_one_month_instructor_confirmation, 
                        { "申請中": 1, "承認": 2, "否認": 3 },{ include_blank: '' }
                        %>
                      <% elsif day.notice_one_month_instructor_confirmation_2.blank? %>
                        <%= attendance.select :notice_one_month_instructor_confirmation_2, 
                        { "申請中": 1, "承認": 2, "否認": 3 },{ include_blank: '' }
                        %>
                      <% elsif day.notice_one_month_instructor_confirmation_3.blank? %>
                        <%= attendance.select :notice_one_month_instructor_confirmation_3, 
                        { "申請中": 1, "承認": 2, "否認": 3 },{ include_blank: '' }
                        %>
                      <% elsif day.notice_one_month_instructor_confirmation_4.blank? %>
                        <%= attendance.select :notice_one_month_instructor_confirmation_4, 
                        { "申請中": 1, "承認": 2, "否認": 3 },{ include_blank: '' }
                        %>
                      <% else %>
                        <%= attendance.select :notice_one_month_instructor_confirmation_5, 
                        { "申請中": 1, "承認": 2, "否認": 3 },{ include_blank: '' }
                        %>
                      <% end %>
                    </td>
                   <td>
                      <% if day.change_digest.blank? %>
                        <%= attendance.check_box :change_digest %>
                      <% elsif day.change_digest_2.blank? %>
                        <%= attendance.check_box :change_digest_2 %>
                      <% elsif day.change_digest_3.blank? %>
                        <%= attendance.check_box :change_digest_3 %>
                      <% elsif day.change_digest_4.blank? %>
                        <%= attendance.check_box :change_digest_4 %>
                      <% else %>
                        <%= attendance.check_box :change_digest_5 %>
                      <% end %>
                    </td>
                    <td><%= link_to "確認", show_Confirmation_user_path(user), class: "btn btn-primary" %></td>
                  </tr>
                <% end %>
                <% end %>
                <% end %>
              </tbody>
            </table>
          <div class="center">
            <%= f.submit yield(:button_text), class: "btn btn-primary" %>
          </div>
          <% end %>
          </div>
          <% break %>
    <% end %>
    <% end %>
    <% end %>
  </div>
</div>